{% extends 'base.html'%}

{% block main %}
<div>
    <h2 class="text-center">Departamentos</h2>
    <div class="mb-5">
        <a href="{% url 'create_departamento' %}" class="btn btn-success">Adicionar Novo Departamento</a>
    </div>

   <table class="table">
  <thead>
    <tr>
      <th scope="col">Mat</th>
      <th scope="col">Nome</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
   {% for departamento in object_list %}
    <tr>
      <th scope="row">{{departamento.id}}</th>
      <td><a href="">{{departamento.nome}}</a></td>
      <td><a href="{% url 'delete_departamento' departamento.id%}" class="btn btn-danger">x</a></td>
    </tr>
   {% endfor%}
  </tbody>

</table>

</div>
{% endblock %}