{% extends 'base.html'%}

{% block main %}
<div>
    <h2 class="text-center">Lista de Empresas Cadastradas</h2>
    <div class="mb-5">
        <a href="{% url 'create_empresa' %}" class="btn btn-success">Adicionar Nova Empresa</a>
    </div>

   <table class="table">
  <thead>
    <tr>
      <th scope="col">Mat</th>
      <th scope="col">Nome</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
   {% for empresa in object_list %}
    <tr>
      <th scope="row">{{empresa.id}}</th>
      <td><a href="">{{empresa.nome}}</a></td>
      <td><a href="" class="btn btn-danger">x</a></td>
    </tr>
   {% endfor%}
  </tbody>

</table>

</div>
{% endblock %}