{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="fundo">


<div class="logo-main row justify-content-center  ">
    <h1 class="text-center align-self-center logo-text" >HORA PONTO</h1>
</div>
<div class="text-center mb-5">
        <form class="text center">
            {% csrf_token %}
            <button type="button" onclick="registrar_ponto()" class="btn btn-success " >Marcar ponto</button>
        </form>


</div>
<div class="row">
    <div class="col-sm card mx-2">
        <label class="text-center">Hora Início</label><br>
        <span class="text-center">11:00</span>
    </div>
    <div class="col-sm card mx-2">
        <label class="text-center">Entrada Almoço</label><br>
        <span class="text-center">11:30</span>
    </div>
    <div class="col-sm card mx-2">
        <label class="text-center">Retorno Almoço</label><br>
        <span class="text-center">12:30</span>
    </div>
    <div class="col-sm card mx-2">
        <label class="text-center">Hora Final</label><br>
        <span class="text-center">18:00</span>
    </div>


</div>
<div>
        <p id="msg_retorno" class="alert"></p>
    </div>
</div>
{% endblock %}
{% block static %}
 <script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'js/funcoes_ajax.js' %}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/core/core.css' %}" />
{% endblock %}


